<nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-docente">
  <div class="container-fluid">
    <!-- Logotipo -->
    <a class="navbar-brand" href="/front-end/dashboard-docente.html" aria-label="Ir al inicio dashboard de docente">
      <img src="/front-end/img/logo-outline.png" alt="Imagen del Logotipo de Centro Hellen Kelller">
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Mostrar u ocultar menú de navegación">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido desplegable -->
    <div class="collapse navbar-collapse" id="navbarContent">

      <!-- Enlaces izquierdos -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/front-end/dashboard-docente.html">Inicio</a>
        </li>
        <li class="nav-item dropdown ms-3">
          <a class="nav-link dropdown-toggle" id="menu-planes" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Abrir menú Planes Educativos Individualizados">Planes Educativos Individualizados (PEI)
          </a>
          <ul class="dropdown-menu" aria-labelledby="menu-planes">
            <li><a class="dropdown-item" href="/front-end/pei-registrar.html">Registro de Plan Educativo Individualizado</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/front-end/pei-listar.html">Lista de Planes Educativos Individualizados</a></li>
          </ul>
        </li>
      </ul>

      <!-- Dropdown de notificaciones -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="notificacionDropdown" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Ver notificaciones">
            <i class="bi bi-bell"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificacionDropdown">
            <li class="dropdown-item d-flex align-items-center">
              <div>
                <p class="m-0 fw-bold">Nuevo Contenido</p>
                <small>Nuevo PEI</small>
              </div>
            </li>
          </ul>
        </li>

        <!-- Dropdown del Perfil -->
        <li class="nav-item dropdown ms-3">
          <a class="nav-link dropdown-toggle d-flex align-items-center" id="perfilDropdown" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Abrir menú del perfil de usuario">
            <img src="/front-end/img/perfil.png"
              class="rounded-circle me-1" alt="Foto de perfil del usuario">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="perfilDropdown">
            <li><a class="dropdown-item" href="/front-end/login.html">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>