:root {
  --azul: #0A3A5E;
  --azulClaro: #0B47BF;
  --turquesa: #14D9A5;
  --celeste: #14CAD9;
  --verde: #57D914;
  --grisOscuro: #575652;
  --gris: #F2F2F2;
  font-family: sans-serif;
}

.loading-spinner {
    display: none;
    text-align: center;
    padding: 20px;
}

.error-message {
    display: none;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.stat-number {
    font-size: 2.5rem;
    font-weight: 400pxs;
    margin-bottom: 0;
}

.card .bi {
    font-size: 50px;
}

.card-body p{
    font-size: 20px;
    font-weight: 300px;
}

.stat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.btnAccion {
    color: white;
}

.btnAccion:hover {
    background-color: var(--azulClaro);
    color: white;
    text-decoration: none;
}

.accion-container {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

@media (prefers-color-scheme: dark) {
    .loading-spinner {
        color: white;
    }

    .card-body {
        background-color: var(--grisOscuro);
    }

    .card-body p {
        color: white !important;
    }   

    .stat-number {
        color: white;
    }

    h3 {
        color: white !important;
    }
}