:root {
    --azul: #0A3A5E;
    --azulClaro: #0B47BF;
    --turquesa: #14D9A5;
    --celeste: #14CAD9;
    --verde: #57D914;
    --grisOscuro: #575652;
    --gris: #F2F2F2;
    font-family: sans-serif;
}

body {
    background-color: #fcfcfc;
    padding-top: 80px;
}

h1 {
    color: var(--azul);
    text-align: center;
    margin: 30px 0 30px 0;
    font-weight: 700;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 650px;
    margin: 0 auto;
}

.form-title {
    color: var(--azul);
    margin-top: 0px;
    text-align: center;
    font-weight: 700;
}

fieldset {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    margin: 25px 0px;
}

legend {
    width: auto;
    padding: 0 15px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #495057;
}

.btn {
    background-color: var(--azul);
}

.btn-primary {
    margin: 5px;
    padding: 10px;
    font-weight: 500;
    width: 100px;
}

.btn-secondary {
    background-color: var(--celeste) !important;
    margin: 5px;
    padding: 10px;
    font-weight: 500;
    color: black;
    width: 100px;
}

.btn-cancelar {
    background-color: var(--grisOscuro);
    border-color: var(--gris);
}

.btn-sm {
    padding: 5px 10px;
    max-width: 80px;
}

.table-bordered th {
    background-color: var(--azul);
    color: white;
    text-align: center;
}

#tblProgramas tbody td:nth-child(4) {
    text-align: center;
}

#tblProgramas tbody td:nth-child(6) {
    text-align: center;
}

#tblPEI tbody td:nth-child(5) {
    text-align: center;
}

.swal2-icon.swal2-warning {
    border-color: red;
    color: var(red);
}

.swal2-confirm {
    background-color: var(--azul);
}

.swal2-confirm:hover {
    background-color: var(--azulClaro);
} 

@media (prefers-color-scheme: dark) {
    body {
        background-color: black !important;
    }

    h1 {
        color: white !important;
    }

    .form-container {
        background-color: var(--grisOscuro) !important;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.1) !important;
    }

    .form-control, .form-select {
        background-color: black !important;
        color: white !important;
        border-color: white !important;
    }

    .form-label {
        color: var(--gris);
        font-weight: 500;
    }

    table.table {
        --bs-table-color: white !important;
        --bs-table-striped-color: white !important;
        --bs-table-hover-color: var(--gris) !important;
        font-weight: 500;
    }

    .table-hover{
        --bs-table-hover-bg: var(--grisOscuro) !important;
        color: white !important;
    }

    .form-control:disabled {
        color: #959595 !important;
    }

    .form-control::placeholder {
        color: #959595 !important;
    }
}