:root {
  --azul: #0A3A5E;
  --azulClaro: #0B47BF;
  --turquesa: #14D9A5;
  --celeste: #14CAD9;
  --verde: #57D914;
  --grisOscuro: #575652;
  --gris: #F2F2F2;
  font-family: sans-serif;
}

body {
    background-color: #0A3A5E;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
        }

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
    text-align: center;
}

.login-container img {
    width: 250px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.btn-custom {
    background-color: var(--azul);
    color: white;
    width: 100%;
    font-weight: 500;
}

.btn-custom:hover {
    background-color: #195c88;
    color: white;
}

.btn-eye {
    border-color: #dee2e6;
}

.btn-eye:hover {
    background-color: var(--gris);
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: black !important;
    }

    .login-container {
        background-color: var(--azul) !important;
        box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2) !important;
    }

    .btn-custom {
        background-color: var(--grisOscuro) !important;
        color: white !important;
    }

    .btn-custom:hover {
        background-color: #6c757d !important;
        color: white !important;
    }

    .input-group-text {
        background-color: black !important;
        color: white !important;
    }
    
    .form-control {
        background-color: black !important;
        color: white !important;
        border-color: white !important;
    }

    .form-control::placeholder {
        color: var(--gris) !important;
    }

    .invalid-feedback {
        color: #FFBDBD !important;
    }
}