:root {
  --azul: #0A3A5E;
  --azulClaro: #0B47BF;
  --turquesa: #14D9A5;
  --celeste: #14CAD9;
  --verde: #57D914;
  --grisOscuro: #575652;
  --gris: #F2F2F2;
  font-family: sans-serif;
}

.navbar {
  background-color: var(--azul) !important;
}

.navbar-brand img{
  display:block;
  height: 40px;
  width: auto;
  margin: 0px 15px;
}

.navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: var(--turquesa) !important;
  transform: translateY(-2px);
}

.navbar-nav .nav-link.active {
  color: var(--turquesa);
}

.dropdown {
  display: block;
  align-items: center;
  justify-content: center;
}

.nav-link .bi-bell {
  font-size: 24px;
}

.dropdown img {
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}

.dropdown-item {
  font-weight: 500;
}

.dropdown-item:hover {
  color: var(--azul);
}

.dropdown-item:active {
  background-color: var(--azul);
  color: #fff;
}

@media (max-width: 991px) {
  /* Forzar dropdowns a comportamiento vertical y centrado */
  .navbar-nav .dropdown-menu {
    position: static !important;
  }
  /*Eliminar margenes de los .nav-item*/
  .nav-item{
    margin: 0px !important;
  }

  /* Eliminar desplazamientos laterales del .show */
  .navbar-nav .dropdown-menu.show {
    transform: none !important;
  }

  /* Centrar items */
  .navbar-nav .dropdown-item {
    text-align: center !important;
  }
}

@media (prefers-color-scheme: dark) {
  .navbar {
    background-color: black !important;
    color: white;
  }

  .dropdown-menu {
    background-color: black;
  }

  .dropdown-item {
    color: white;
  }

  .dropdown-item:hover {
    background-color: var(--grisOscuro);
    color: white;
  }

  .dropdown-item.active {
    background-color: var(--azul) !important;
    color: white !important;
  }
}